# CONFIG_BOTFARMS_PROFILE_CURRENT_ROBOT is not set
# CONFIG_BOTFARMS_PROFILE_BENCH_SINGLE_SVD48_MOTOR is not set
# CONFIG_BOTFARMS_PROFILE_BENCH_SINGLE_STEERING_AS5600 is not set
CONFIG_BOTFARMS_PROFILE_RAFA=y
